li {
    list-style-type: none;
    display: inline;
    margin-right: 70px;
}

table, th, td {
    border: 1px solid black;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.elem-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    margin-top: 15px;
}

.header-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.table-center{
    margin-top: 20px;
}